@media screen and (max-width:1309px) {
    #top-logo {
        display: none;
    }
}

/* @media screen and (max-width:1536px) {
    #top {
        height:1400.8px;
    }
} */

@media screen and (max-width:768px) {

    .b-content {
        display: block;
    }

    .nav {
        transition: background-color 2s;
        margin-left:0vw;
        margin-top : 0vh;
        position: fixed;
        flex-direction:column;
        align-items: center;
        width : 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #img-logo{
        display: none;
    }

    nav li:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        width: 100%;
        text-align: center;
    }

    .navbar-toggle-btn {
        display:block;
        position: fixed;
    }
}

@media screen and (max-width:670px) {
    #main-logo {
        left:30vw;
    }
    #main-logo-img {
        width:217px;
        height: auto;
    }
}

function fnImgPop(url){
    var img=new Image();
    img.src=url;
    var img_width=img.width;
    var win_width=img.width+25;
    var img_height=img.height;
    var win=img.height+30;
    var OpenWindow=window.open('','_blank', 'width='+img_width+', height='+img_height+', menubars=no, scrollbars=auto');
    OpenWindow.document.write("<style>body{margin:0px;}</style><img src='"+url+"' width='"+win_width+"'>");
   }

@media screen and (max-width:1920px) {
    #nav-item1 {
        width: auto;
    }
    #nav-item2 {
        width: auto;
    }
    #nav-item3 {
        width: auto;
    }
    #nav-item4 {
        width: auto;
    }

    #top-logo-img {
        width: auto;
    }
}


@media screen and (max-width:1536px) {
    #nav-item1 {
        width: 58.35px;
        height: auto;
    }
    
    #nav-item2 {
        width: 73.08px;
        height: auto;
    }
    
    #nav-item3 {
        width: 72.59px;
        height: auto;
    }
    
    #nav-item4 {
        width: 92.296px;
        height: auto;
    }

    #top-logo-img {
        width: 138.168px;
        height: auto;
    }
}