@media screen and (max-width:1309px) {
    #top-logo {
        display: none;
    }
}

/* @media screen and (max-width:1536px) {
    #top {
        height:1400.8px;
    }
} */

@media screen and (max-width:768px) {

    .b-content {
        display: block;
    }

    .nav {
        transition: background-color 2s;
        margin-left:0vw;
        margin-top : 0vh;
        position: fixed;
        flex-direction:column;
        align-items: center;
        width : 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #img-logo{
        display: none;
    }

    nav li:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        width: 100%;
        text-align: center;
    }

    .navbar-toggle-btn {
        display:block;
        position: fixed;
    }
}

@media screen and (max-width:670px) {
    #main-logo {
        left:30vw;
    }
    #main-logo-img {
        width:217px;
        height: auto;
    }
}