/* html{overflow: hidden;} */

*{
    /* outline: solid 1px red; */
}

html, body {
    width: 100%; 
    /* height: 100%; */
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}


.content {
    background-image: url("../img/image1.png");
    background-attachment: fixed;
}

.content-main {
    /* max-width: 100vw; */
    background-color: rgb(0,0,0,0.4);
}

#top {
    position:relative;
    max-width: 100vw;
    height: 1780px;
    background:url("../img/background.jpg") no-repeat;
    background-size : cover;
}


#main-logo {
    position:absolute;
    left: 33vw;
    top: 41.64vh;
}

#main-logo-img {
    width: 32.375vw;
    height: auto;
}

#under-obj {
    position:absolute;
    left: 48.9583vw;
    top: 91.12685185vh;
}

#under-obj-img {
    position: absolute;
    width:31.94px;
    height: auto;
    animation:motion 0.5s linear 0s infinite alternate;
}

@keyframes motion {
    0% {margin-top: 0px;}
    100% {margin-top: 10px;}
}

.nav {
    display: flex;
    position:fixed;
    width:100vw;
    margin-left:6.47vw;
    margin-top : 2.4vh;
    transition: transform .3s;
    z-index: 99;
}

#img-logo {
    margin-right: 31.98vw;
}

.nav.hide {
    transform: translateY(-100%);
  }

.navbar-toggle-btn {
    position : absolute;
    right:5.2vw;
    top : 3.3vh;
    color : white;
    display: none;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
}

nav>ul li {
    /* float: left; */
    padding : 1vh 2.6vw;
    opacity: 0.4;
    transition: opacity 1s;
}

nav li:hover {
    opacity: 1;
}

nav>ul li:first-child {
    opacity: 1;
}

#nav-item1 {
    width: 58.35px;
    height: auto;
}

#nav-item2 {
    width: 73.08px;
    height: auto;
}

#nav-item3 {
    width: 72.59px;
    height: auto;
}

#nav-item4 {
    width: 92.296px;
    height: auto;
}

#top-logo {
    margin-top : 3.3vh;
    margin-left:4vw;
    /* margin-left:3px; */
}

#top-logo-img {
    width: 138.168px;
    height: auto;
}

#footer {
    width: 100%;
    position: absolute;
    top:6.25vh;
    /* left:20.36vw; */
    display: flex;
    justify-content: space-between;
}

footer {
    position: relative;
    height:260px;
    color: #929292;
    width: 67.06%;
    margin: auto;
    /* background-color: #434040; */
}

.f-background {
    width:100%;
    background-color: #f5f5f5;
    height:260px;
}

.section {
    display: block;
}

.f-title {
    font-weight: 500;
    font-size: 1rem;
}

.f-text{
    font-size:0.6rem;
    font-weight:300px;
}

a {
    color : white;
    text-decoration: none;
}

.slogan {
    position:relative;
    background-color: white;
    height: 400px;
    background-color: #f5f5f5;
}

.slogan-text {
    position:absolute;
    top:94.5px;
    left:17.96vw;
}

#second {
    
    position: relative;
}

.s-content {
    position: relative;
    height: 100vh;
    
}

.s-content2 {
    position: relative;
    height: auto;
}

.about-text {
    color: #fff;
    position:absolute;
    top:19.9vh;
    left:17.96vw;
}

.main-text {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 120px;
    color:#fff;
}

.mar {
    height: 14.07vh;
}

.big-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 67.06%;
    margin: auto;
    /* margin-left:12.96vw; */
    margin-bottom:42px;
}

.f-content {
    /* width: 343px; */
    height: auto;
    display: block;
    position: relative;
}

.sub-title {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color:#393939;
}

.f-img {
    margin-top:4.9vh;
    /* width:105.67px; */
    height:auto;
}

#f-img {
    position: absolute;
    right: 0px;
}

.sub-text {
    color:#929292;
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 30px;
    margin-top:4.25vh;
}

.gray-box {
    width: 67.06%;
    height: 38.88vh;
    margin:auto;
    background-color: #d9d9d9;
    margin-bottom: 20px;
}

#third {
    background-color: #f5f5f5;
}

.way-content {
    margin-top: 12.31vh;
    width: 67.06%;
    height: 80%;
    margin:auto;
}

.way {
    font-family: 'Apple SD Gothic Neo';
font-style: normal;
font-weight: 700;
font-size: 50px;
}

.mab{
    position:relative;  height: 0; margin:0; margin-bottom:55.92vh;}
iframe{position:absolute; left:0; top:0; width: 67.06vw; height: 50.92vh;}

.m-section {
    margin-bottom: 19px;
}

.m-title {
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    color:#393939;
}

.m-text {
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    color:#707070;
}

#fourth {
    position: relative;
    width: 100vw;
    height:100vh;
    background-image: url("../img/image2.png");
    background-attachment: fixed;
}

.b {
    background-color: rgb(0,0,0,0.4);
    width: 100%;
    height:100%;
}

.web-title {
    position:absolute;
    top:22.68vh;
    left:17.96vw;
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 7rem;
    line-height: 138px;
    color:white;
}
.web-btn {
    position:absolute;
    top:62vh;
    left:17.96vw;
    width:125px;
    height:54px;
    background-color: rgb(0,0,0,0);
    border-color: white;
    font-family: 'Apple SD Gothic Neo';
    font-weight: 500;
    color: white;
}

.bar {
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 16.2vw;
}

@media screen and (max-width:563px) {
    .f-slogan {
        width: 300px;
    }
}